* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: 	#222222;
}

.App-header {
width: 100%;
height: 9%;
background-color:#34a5da;
display: flex;
align-items: center;
}

.App-header h2 {
  margin-left: 2%;
}

.card {
  width: 70%;
  height: 65%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  display: flex;
}

.info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.basic {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 100px;
  margin-top: 20px;
}

.basic h1 {
  font-size: 35px;
  text-decoration: underline #34a5da;
}

.basic h2 {
  margin-bottom: 0;
}

.basic b {
  font-weight: 500;
}

.favMovies {
  width: 120%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 100px;
  margin-top: 60px;
}

.favMovies ol {
  font-size: 20px;
  margin-left: 7%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 500;
}

.favMovies li {
  margin-bottom: 10px;
}

.page {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.page p {
  font: 50px bold;
  margin-top: 1%;
  margin-right: 2%;
}

a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

button {
  height: 35px;
  width: 70px;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  background-color: #5f98ed;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  
}

.mid-buttons {
  width: 13%;
  display: flex;
  justify-content: space-around;
}

